{
  "name": "fr.openent~appointments",
  "config": {
	"main": "fr.openent.appointments.Appointments",
	"port": 8483,
	"csrf-token": {{ csrfToken | default('true') }},
	"app-name": "Appointments",
	"app-address": "/appointments",
	"app-icon": "appointments-large",
	"app-type" : "END_USER",
	"host": "https://{{ host }}",
	"ssl": true,
	"sql" : true,
	"userbook-host": "https://{{ host }}",
	"integration-mode": "{{ integration_mode|default('HTTP') }}",
	"app-registry.port": 8012,
	"mode": "prod",
	"entcore.port": 8009,
	{% if ha is defined and ha and inventory_hostname_short is defined and inventory_hostname_short != 'jobs' %}
		"closing-cron": "0 0 0 * * ? 2099",
	{% else %}
		"closing-cron": "{{ appointmentsClosingCron | default('0 0 0 * * ? *') }}",
	{% endif %}
	"min-hours-before-cancellation": {{ appointmentsMinHoursBeforeCancellation | default('24') }},
	"theme-platform": "{{ cgiTheme | default('ent-default') }}"
  }
}